.catalog__list-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding-bottom: 20px;
  margin-top: 20px;
}

@media (max-width: 991px) {
  .catalog__list-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .catalog__list-wrapper {
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
    padding: 0 15px;
  }
}