.card__wrapper {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  display: grid;
  gap: 10px;
}

.card__image {
  width: 300px;
  height: 250px;
  align-items: stretch;
  display: flex;
  margin: 0 auto 10px;
}

.card__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card__price {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
}

.card__price:after {
  content: ' \20BD';
  color: black;
}

.card__info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.card__title {
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
}

.card__button,
.card__button-order {
  border: 1px solid red;
  border-radius: 6px;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: auto;
  background-color: red;
  color: white;
  margin-top: auto;
}

.card__button-order {
  background-color: transparent;
  color: red;
}

.card__button:hover,
.card__button-order:hover {
  background-color: rgb(218, 35, 35);
  border-color: rgb(218, 35, 35);
  color: white;
}
