.button_wrapper {
  padding: 4px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--gray);
  border-radius: 5px;
  cursor: pointer;
}

.button_text {
  color: var(--black);
}

.button_wrapper:hover {
  color: var(--white);
  background-color: var(--gray);
}