:root {
  --blue: rgb(25, 174, 473);
  --white: rgb(243, 238, 238);
  --black: #080808;
  --gray: #ccc;
  --red: rgb(230, 33, 33);
  --red-hover: rgb(218, 35, 35);
}

.App {
  height: 100%;
}

.content-container {
  height: 100%;
}
