.cart__table-wrapper {
  width: 100%;
  margin-bottom: 20px;
  border: 5px solid #fff;
  border-top: 5px solid #fff;
  border-bottom: 3px solid #fff;
  border-collapse: collapse; 
  outline: 3px solid #ffd300;
  font-size: 15px;
  background: #fff !important;
  margin: 20px 0;
}
.cart__table-wrapper th {
  font-weight: bold;
  padding: 7px;
  background: #ffd300;
  border: none;
  text-align: left;
  font-size: 15px;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #ffd300;
}
.cart__table-wrapper td {
  padding: 7px;
  border: none;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  font-size: 15px;
}
.cart__table-wrapper tbody tr:nth-child(even){
  background: #f8f8f8 !important;
}

.cart__table-title {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  flex-direction: row-reverse;
}

.total__price {
  font-weight: bold;
  font-size: 36px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.total__price-title {
  color: black;
}

.total__price-amount {
  color: red;
}

.remove__button {
  padding: 5px 10px;
  cursor: pointer;
  margin-left: auto;
  color: red;
  margin-top: auto;
}

.remove__button:hover {
  color: rgb(218, 35, 35);
}

@keyframes fly {
  0% {
      transform: scale(0.5);
      opacity: .50;
      width: 100%;
  }
  100% {
      transform: scale(0.2);
      opacity: 0;
      width: 0%;
  }
}

.card__image-wrapper.fly {
  animation: fly 2s 1;
  top: 0;
  right: 0;
  position: fixed;
}

.cart__table-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.cart__product-count {
  display: flex;
  align-items: center;
  gap: 2px;
}

.cart__product-count .count {
  border: 1px solid #ccc;
  padding: 4px 10px;
  border-radius: 3px;
  text-align: center;
}